<!DOCTYPE html>
<html>
  <head>
    <title>Timestamp Microservice</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap"
      rel="stylesheet"
      type="text/css"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>Timestamp Microservice</h1>
    <hr />
    <div class="container">
      <h3>API Usage:</h3>
      <ul>
        <li>
          <a href="api/2023-01-01">/api/2023-01-01</a> (Converting a Date String
          to Timestamp)
        </li>
        <li>
          <a href="api/1672531200000">/api/1672531200000</a> (Converting a
          Timestamp to Date String)
        </li>
        <li>
          <a href="api/">/api/</a> (Getting the Current Timestamp and Date)
        </li>
      </ul>

      <h3>Output:</h3>
      <p>
        <code
          >{"unix": 1672531200000, "utc": "Sun, 01 Jan 2023 00:00:00 GMT"}</code
        >
        (For both Date String to Timestamp and Timestamp to Date String
        conversions)
      </p>
      <p>
        <code
          >{"unix": &ltcurrent_unix_timestamp&gt, "utc":
          "&ltcurrent_utc_date&gt"}</code
        >
        (For Getting the Current Timestamp and Date)
      </p>
    </div>

    <hr />
    <div class="container">
      <p>
        Check out the GitHub repo
        <a
          href="https://github.com/justine-george/fcc-project-timestamp/"
          target="_blank"
          >here</a
        >.
      </p>
    </div>
  </body>
</html>
